<div class="container">
  <div class="row">
    <div class="col-sm" appHighlight style="text-align:center;">
      {{data.id}}
    </div>
    <div class="col-sm" appHighlight style="text-align:center;">
      {{data.name}}
    </div>
    <div class="col-sm" style="text-align:center;">
      <button type="button" class="btn btn-primary" (click) = "edit()" >Edit</button>
    </div>
    <div class="col-sm" style="text-align:center;">
      <button type="button" class="btn btn-primary" (click) = "remove()" >Delete</button>
    </div>
  </div>
</div>